.nostr_feed {
  padding: 16px;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  word-break:break-word;
  gap: 16px;
  flex-direction: column;
}

.nostr_feed_header {
  display: flex;
  gap: 12px;
  align-items: start;
  overflow: hidden;
}

.nostr_feed_title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nostr_feed_date{
    font-size: 0.875rem;
    color: #aaa;
    margin:0
}



.nostr_tags{
    display: flex;
    text-align: start;
    gap: 12px;
    white-space: nowrap;
    overflow-x: hidden;
}

.nostr_tag{
  background-color: #e5e7eb;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 24px;
  padding: 4px 12px;
}


ul{
    padding:0;
    margin:0
}

li{
    list-style-type: none;
}


.nostr-feed-list{
    margin:0px 0px 15px 0px
}

a{
    color:black;
    font-weight:500;
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
}

.nostr-text{
  font-size:16px;
  color:black;
}

.video-embed{
  margin:10px 0px
}


.mediaframe{
 max-width: 500px;
 width:100%;
 cursor: pointer;
 margin: "5px 0px";
 object-fit: "cover"
}


.nostr_tag{
  cursor: pointer;
}