@media only screen and (max-width:1200px){
  #root {
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  }



@media only screen and (min-width:1200px){
#root {
  padding:40px;
  font-family: Arial, Helvetica, sans-serif;
}

.nostr-feeds{
  width:500px
}

.nostr-container{
  display:flex;
  justify-content: center;
  gap:30px
}
}